.Btn {
  display: flex;
  align-items: center;
  background-color: #517849;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  margin: 0vw 20vw;
  padding: 1vh 6vw;
  margin-top: 1vh;
  justify-content: center;
}
