.Input {
  width: 50vw;
  height: 3vh;
  margin: 10vw 10vw 3vh 0vh;
  display: flex;
}

.Input2 {
  width: 70vw;
  height: 3vh;
  margin: 10vw 10vw 3vh 0vh;
  display: flex;
}

.Input3 {
  width: 70vw;
  height: 3vh;
  margin: 10vw 10vw 3vh 0vh;
  display: flex;
  padding-left: 20vw;
  padding-right: 20vw;
  display: none;
  justify-content: center;
  align-items: center;
}
