.img {
  margin-top: 20vh;
  padding-left: 25vw;
  padding-right: 25vw;
  width: 50vw;
  height: 20vh;
}

.imgPlaceholder {
  padding-left: 25vw;
  padding-right: 25vw;
  width: 50vw;
  height: 20vh;
}
